@charset "UTF-8";

*{
	padding : 0;
	margin : 0;
}

#header {
	width : 100%; height : 80px;
	line-height : 80px; text-align : center;
	color : white; background-color : blue;
}

#nav {
	width : 100%; height : 40px;
	line-height : 40px; color : white; background-color : skyblue;
}

#nav ul li {
	list-style: none;
	float : left;
	padding : 0 10px;	
}

a {
	text-decoration: none;
	color : white;
}

.section {
	width : 100%; height : 100%;
	background : lightgray; position: fixed;
}

.section h2 {
	text-align : center;
	padding : 20px 0;
}

.section p {
	font-size : 23px;
	padding : 0 10px;
}


#footer{
	width : 100%; height : 50px;
	line-height : 50px; text-align : center;
	color : white; background-color : blue;
	position: absolute; bottom: 0; font-size: 14px;
}
